input.botao_1 {
    background-color: #214972;
    color: white;
    width: 5%;
    position: absolute;
    height: 29px;
    font-size: 17px;
    left: 1261px;
}

form.form-style {
    padding-top: 30px;
    padding-left: 60px;
}
a.btn-sair {
    position: relative;
    left: 1760px;
    top: 12px;
    color: white;
    text-decoration: none;
}
a.btn-sair_3{
    position: relative;
    left: 1760px;
    top: 12px;
    color: white;
    text-decoration: none;
}
/* @media para botoes*/
@media only screen and (max-width: 1366px){
    a.btn-home{
        left: 1171px !important;
    }    
    }
@media only screen and (max-width: 1366px){
     a.btn-login{
        left: 1231px !important;
    }    
    }

@media only screen and (max-width: 1366px){
    a.btn-sair{
        left: 1251px !important;
    }    
    }

 @media only screen and (max-width: 1366px){
    a.btn-home_2{
        left: 1201px !important;
    }    
    }
    
@media only screen and (max-width: 1366px){
    a.btn-sair_2{
        left: 1201px !important;
    }    
    }
    @media only screen and (max-width: 1366px){
        a.btn-sair_3{
            left: 1201px !important;
        }    
        }
        
a.btn-home_2{
    position: relative;
    left: 1660px;
    top: 12px;
    color: white;
    text-decoration: none;
}
a.btn-home{
    position: relative;
    left: 1660px;
    top: 12px;
    color: white;
    text-decoration: none;
}
a.btn-login {
    position: relative;
    left: 1760px;
    top: 12px;
    color: white;
    text-decoration: none;
}
a.btn-login_2 {
    position: relative;
    left: 1760px;
    top: 12px;
    color: white;
    text-decoration: none;
}

h4.nome-index {
    font-size: 18px;
    font-family: poppins;
}

input.caixa-text {
    margin-bottom: 11px;
    border-style: inset;
    border-radius: 5px;
    height: 28px;
}
.texto-login {
    position: relative;
    text-align: center;
    bottom: 14px;
}
input.inputSubmit-login {
    width: 39%;
    position: relative;
    left: 55px;
}
input.inputSubmit-login_2 {
    position: relative;
    width: 40%;
    left: 53px;
}


h1.titulo-login {
    font-size: 29px;
    font-family: poppins;
    font-weight: bold;
}
h1.titulo-adm {
    font-family: poppins;
    font-weight: bold;
    font-size: 28px;
}
h1.titulo-adm_2 {
    font-family: poppins;
    font-weight: bold;
    font-size: 28px;
    bottom: 5px;
    position: relative;
}
.texto-adm {
    padding-bottom: 10px;
}

.botao_1
{
    color: black;
    background-color: #bdbabb;
    border-radius: 5px;
}

.box-at {
    margin-left: 10px;
    display: inline-flex;
}
h4 {
    font-family: "Poppins";
    padding-right: 5px;
}

h3.titulo-pagina {
    font-family: poppins;
    padding-left: 157px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.botao_1
{
    font-family: Arial, Helvetica, sans-serif;
}

div#ddr_salsa {
    display: none !important;
}

/*tela de login*/

.body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aeceef;
}

input.adm-pass {
    width: 50%;
    left: 66px;
    position: relative;
}
input.adm-login {
    width: 50%;
    left: 66px;
    position: relative;
}

input.inputSubmit-login {
    width: 29%;
    position: relative;
    left: 93px;
}



.tela-login {
    background-color: #214972;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 66px;
    border-radius: 15px;
    color: #fff;
}
.texto-adm_2{
    top: 10px;
    position: relative;
}

.tela-login_2 {
    background-color: #214972;
    position: absolute;
    top: 40%;
    left: 53%;
    transform: translate(-50%, -50%);
    padding: 23px;
    border-radius: 15px;
    color: #fff;
}
.tela-login_3 {
    background-color: #214972;
    position: absolute;
    top: 330%;
    left: 53%;
    transform: translate(-50%, -50%);
    padding: 13px;
    border-radius: 15px;
    color: #fff;
}


.input {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

.button {
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;

}

.button:hover {
    background-color: deepskyblue;
    cursor: pointer;
}


/*Nav bar*/
.container2 {
    background-color: #d4d4dfe8;
}
.container-fluid {
    background-color: #214972;
}
li.nav-item {
    background-color: #4747cd73;;
    border-radius: 12px;
}
.container-fluid_2 {
    background-color: #4747cd75;
}

/*Conteudo*/

.container-fluid_2 {
    background-color: #4747cd75;
    padding-left: 16px;
    font-family: poppins;
    font-size: 18px;
    font-weight: bold;
}
.container-fluid_3 {
        padding-left: 16px;
}
h1.titulo-atendimento {
    text-align: center;
    font-family: poppins;
    font-weight: bold;
}

.input{
  border:1px solid #333;
}
.required{
  color:red;
  font-size:12px;
}

#registerDiv{
  display:none;
  margin-top:0px;
  margin-left:0px;
  border:2px solid #333;
  padding:3px;
  background:#cdcdcd;
  width:280px;
  text-align:center;
}
#popup{
  display:none;
  padding:10px;
  background:#969696;
  position:absolute;
  top:25%;
  left:25%;
  z-index: 99999;
  opacity:100%;
  
}
#popupinfo{
  padding:2px;
  text-align:center;
  background:#cfcfcf;
}
#popupinfo p{
  font-size:14px;
}

#popupinfo .button {
  text-align:center;
}
#popupinfo .button a{
  text-decoration:none;
  border:1px solid #333;
  width:20px;
  padding:5px;
  background:#1A1A1A;
  color:#eee;
}

#popupinfo .button a:hover{
  background:#eee;
  color:#1a1a1a;
}

#mask{
  
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 999;
  
}


/*pop-up*/

.input{
    border:1px solid #333;
  }
  .required{
    color:red;
    font-size:12px;
  }
  
  #registerDiv{
    display:none;
    margin-top:0px;
    margin-left:0px;
    border:2px solid #333;
    padding:3px;
    background:#cdcdcd;
    width:280px;
    text-align:center;
  }
  #popup{
    display:none;
    padding:10px;
    background:#969696;
    position:absolute;
    top:25%;
    left:25%;
    z-index: 99999;
    opacity:100%;
    
  }
  #popupinfo{
    padding:2px;
    text-align:center;
    background:#cfcfcf;
  }
  #popupinfo p{
    font-size:14px;
  }
  
  #popupinfo .button {
    text-align:center;
  }
  #popupinfo .button a{
    text-decoration:none;
    border:1px solid #333;
    width:20px;
    padding:5px;
    background:#1A1A1A;
    color:#eee;
  }
  
  #popupinfo .button a:hover{
    background:#eee;
    color:#1a1a1a;
  }
  
  #mask{
    
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
    
  }


